<header>
    <div id="main" class="sector">
    <div><img  id="fondo" src="./assets/fondo.jpg" alt="fondo"></div>
    <div id="head1">
        <img src="./assets/profile.jpg" alt="profile" id="profile">
        <button><img class="boton" src="./assets/lapiz.png" alt="lapiz"></button>
        
        <div id="first">
        <div class="text_left"><h1 id="name">Manuel Sadosky</h1>

    <ul id="info">
        <li class="li_litt">Informático en COCINET</li>
        <li class="li_litt">Buenos Aires (Argentina) <a href="#">Información de contacto</a></li>
    </ul></div>
    
    <div id="right_img"><img id="conicet" src="./assets/conicet.png" alt="conicet_logo" class="png"><figcaption>CONICET</figcaption>
        <br>
    <img id="uba" src="./assets/uba.png" alt="uba" class="png"><figcaption>Universidad de Buenos Aires</figcaption></div>
        </div>

    <div id="second">
        <button class="boton1">Tengo interés en</button>
        <button class="boton1">Añadir Sección</button>
        <button class="boton1">Más</button>
        </div>
    </div>
    </div>
    <nav></nav>
</header>
