<header>
    <div id="main" class="sector">
    <div><img  id="fondo" src="./assets/fondo.jpg" alt="fondo"></div>
    <div id="head1">
        
        <img src="../../assets/profile.jpg" alt="profile" id="profile">
        <button id="pencil"><fa-icon [icon]="pencil"></fa-icon></button>
        
        <div id="first">
        <div class="text_left"><h1 id="name">{{miPortfolio.name}}</h1>

    <ul id="info">
        <li class="li_litt">Full Stack Developer Jr.</li>
        <li class="li_litt">La Paz - Entre Ríos (Argentina) <a href="#">Información de contacto</a></li>
    </ul></div>
        </div>

    <div id="second">
        <button class="btn btn-primary">Tengo interés en</button>
        <button class="btn btn-primary">Añadir Sección</button>
        <button class="btn btn-primary">Más</button>
        </div>
    </div>
    </div>
    <nav></nav>
</header>
