<article class="sector">

<div class="float_right">
    <button class="transparente"><fa-icon [icon]="pluscircle" class="add"></fa-icon></button>
    </div>

    <div class="artc"><h2>Educación</h2>

    <div>
        <ul>
            <li *ngFor="let educacion of educacionList">
                <p>{{educacion.school}}</p>
            </li>
        </ul>
    <ul>
    <li>
    <div>
        <div class="float_right2">
        <button class="transparente"><fa-icon [icon]="pencil"></fa-icon></button>
        <button class="transparente"><fa-icon [icon]="trash"></fa-icon></button>
        </div>

    <img class="logo" src="./assets/ort.jpg" alt="ort">
    <span class="lista">
        <p class="li_tit">educacion.school</p>
        <p class="li_litt">Ingeniería, Sistemas computacionales, 0</p>
        <p class="periodo">2019 - 2023</p>
    </span></div>
    </li>
    </ul>
    </div>
    </div>
   
    
</article>


