<article class="sector">

    <div class="float_right">
    <button class="transparente"><fa-icon [icon]="pluscircle" class="add"></fa-icon></button>
    </div>
    
    <div class="artc"><h2>Proyectos</h2>

        <div class="float_right2">
            <button class="transparente"><fa-icon [icon]="pencil"></fa-icon></button>
            <button class="transparente"><fa-icon [icon]="trash"></fa-icon></button>
        </div>

    <div id="padleft"><h3>e-Farmacia</h3>
    <p class="li_litt">Desarrollamos un sitio web de comercio electrónico Front End basado en Angular de alto tráfico con diseño innovador basado en UIX. Totalmente integrado con los sistemas CRM y ERP internos.</p>
    
    <div class="float_right2">
        <button class="transparente"><fa-icon [icon]="pencil"></fa-icon></button>
        <button class="transparente"><fa-icon [icon]="trash"></fa-icon></button>
    </div>
    
    <h3>Sistemas de Monitoreo</h3>
    <p class="li_litt">Desarrollamos un Back End basado en API Rest con la tecnología Spring Boot para proveer datos de monitoreo a aplicaciones distribuidas, también el desarrollo de interfaces entre sistemas de gestión para automatizar procesos.</p>
    </div>    
    </div>
</article>
