<article class="sector">
    <button class="float_right"><img class="boton" src="./assets/add.png" alt="add"></button>
    <div class="artc"><h2>Proyectos</h2>

        <button class="float_right2"><img class="boton" src="./assets/borrar.png" alt="trash"></button>
        <button class="float_right2"><img class="boton" src="./assets/lapiz.png" alt="lapiz"></button>

    <div id="padleft"><h3>e-Farmacia</h3>
    <p class="li_litt">Desarrollamos un sitio web de comercio electrónico Front End basado en Angular de alto tráfico con diseño innovador basado en UIX. Totalmente integrado con los sistemas CRM y ERP internos.</p>
    
        <button class="float_right2"><img class="boton" src="./assets/borrar.png" alt="trash"></button>
        <button class="float_right2"><img class="boton" src="./assets/lapiz.png" alt="lapiz"></button>
    
    <h3>Sistemas de Monitoreo</h3>
    <p class="li_litt">Desarrollamos un Back End basado en API Rest con la tecnología Spring Boot para proveer datos de monitoreo a aplicaciones distribuidas, también el desarrollo de interfaces entre sistemas de gestión para automatizar procesos.</p>
    </div>    
    </div>
</article>
