<article class="sector">

    <div class="float_right">
    <button class="transparente"><fa-icon [icon]="pluscircle" class="add"></fa-icon></button>
    </div>

    <div class="artc"><h2>Experiencia</h2>

        <div class="float_right2">
        <button class="transparente"><fa-icon [icon]="pencil"></fa-icon></button>
        <button class="transparente"><fa-icon [icon]="trash"></fa-icon></button>
        </div>

        <img class="logo" src="./assets/firefox.png" alt="logo_1">
    <ul class="lista">
        <li class="li_tit">Backend Developer</li>
        <li class="li_litt">Pixar - Jornada parcial</li>
        <li>mar 2019 - actualidad - 2 años y 6 meses Guadalajara y alrededores, México</li>
    </ul></div>

    <div class="float_right">
    <button class="transparente"><fa-icon [icon]="pluscircle" class="add"></fa-icon></button>
    </div>

    <div class="artc"><h2>Educación</h2>

        <div class="float_right2">
        <button class="transparente"><fa-icon [icon]="pencil"></fa-icon></button>
        <button class="transparente"><fa-icon [icon]="trash"></fa-icon></button>
        </div>

    <img class="logo" src="./assets/ort.jpg" alt="ort">
    <ul class="lista">
        <li class="li_tit">UTN</li>
        <li class="li_litt">Ingeniería, Sistemas computacionales, 0</li>
        <li class="periodo">2019 - 2023</li>
    </ul></div>

    <div class="artc">

        <div class="float_right2">
        <button class="transparente"><fa-icon [icon]="pencil"></fa-icon></button>
        <button class="transparente"><fa-icon [icon]="trash"></fa-icon></button>
        </div>


        <img class="logo" src="./assets/CETI.png" alt="ceti">
    <ul class="lista">
        <li class="li_tit">Centro de Enseñanza Técnica Industrial</li>
        <li class="li_litt">Tecnología, Desarrollo de Software, 82</li>
        <li class="periodo">2014 - 2018</li>
    </ul></div>

    <div class="artc">

        <div class="float_right2">
        <button class="transparente"><fa-icon [icon]="pencil"></fa-icon></button>
        <button class="transparente"><fa-icon [icon]="trash"></fa-icon></button>
        </div>

        <img class="logo" src="./assets/firefox.png" alt="logo_1">
    <ul class="lista">
        <li class="li_tit">Escuela Secundaria Técnica 14</li>
        <li class="li_litt">Técnico, Electrónica, comunicación y sistemas de control, 0</li>
        <li class="periodo">2012 - 2014</li>
    </ul></div>
    
</article>

