<article class="sector">
    <button class="float_right"><img class="boton" src="./assets/add.png" alt="add"></button>
    <div class="artc"><h2>Experiencia</h2>

        <button class="float_right2"><img class="boton" src="./assets/borrar.png" alt="trash"></button>
        <button class="float_right2"><img class="boton" src="./assets/lapiz.png" alt="lapiz"></button>

        <img class="logo" src="./assets/firefox.png" alt="logo_1">
    <ul class="lista">
        <li class="li_tit">Backend Developer</li>
        <li class="li_litt">Pixar - Jornada parcial</li>
        <li>mar 2019 - actualidad - 2 años y 6 meses Guadalajara y alrededores, México</li>
    </ul></div>

    <button class="float_right"><img class="boton" src="./assets/add.png" alt="add"></button>
    <div class="artc"><h2>Educación</h2>

        <button class="float_right2"><img class="boton" src="./assets/borrar.png" alt="trash"></button>
        <button class="float_right2"><img class="boton" src="./assets/lapiz.png" alt="lapiz"></button>

    <img class="logo" src="./assets/ort.jpg" alt="ort">
    <ul class="lista">
        <li class="li_tit">UTN</li>
        <li class="li_litt">Ingeniería, Sistemas computacionales, 0</li>
        <li class="periodo">2019 - 2023</li>
    </ul></div>

    <div class="artc">
        <button class="float_right2"><img class="boton" src="./assets/borrar.png" alt="trash"></button>
        <button class="float_right2"><img class="boton" src="./assets/lapiz.png" alt="lapiz"></button>


        <img class="logo" src="./assets/CETI.png" alt="ceti">
    <ul class="lista">
        <li class="li_tit">Centro de Enseñanza Técnica Industrial</li>
        <li class="li_litt">Tecnología, Desarrollo de Software, 82</li>
        <li class="periodo">2014 - 2018</li>
    </ul></div>

    <div class="artc">

        <button class="float_right2"><img class="boton" src="./assets/borrar.png" alt="trash"></button>
        <button class="float_right2"><img class="boton" src="./assets/lapiz.png" alt="lapiz"></button>

        <img class="logo" src="./assets/firefox.png" alt="logo_1">
    <ul class="lista">
        <li class="li_tit">Escuela Secundaria Técnica 14</li>
        <li class="li_litt">Técnico, Electrónica, comunicación y sistemas de control, 0</li>
        <li class="periodo">2012 - 2014</li>
    </ul></div>
    
</article>

