<article>

    <div class="float_right">
        <button class="transparente" (click)="mostrarTxtArea()" ><fa-icon [icon]="pencil"></fa-icon></button>
    </div>

<div class="artc"><h2>Acerca de</h2>
<p id="p_1">{{ descripcion }}</p>


<div id="textarea">
<div class="form-group shadow-textarea">
<textarea name="textarea" rows="6" cols="80" [(ngModel)]="descripcion" ></textarea>
</div>
<br>
<input type="button" class="btn btn-primary" value="Confirmar" (click)="ocultarTxtArea()">
</div>
</div>

</article>